# Prevent execution of scripts in storage/uploads
# Place this file in the storage/uploads directory

<IfModule mod_php7.c>
  php_flag engine off
</IfModule>

<IfModule mod_php.c>
  php_flag engine off
</IfModule>

<FilesMatch "\.(php|phtml|phar)$">
  Require all denied
</FilesMatch>

# Deny direct listing
Options -Indexes
